<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fltry.module.screen">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ScreenUtilActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data
                    android:host="@string/host"
                    android:path="@string/path_screen"
                    android:port="@string/port"
                    android:scheme="@string/scheme" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
