<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fltry.module.eventbus">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".OkHttpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!--协议部分，随便设置-->
                <data
                    android:host="module"
                    android:path="/eventbus"
                    android:port="80"
                    android:scheme="fltry" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>