<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fltry.module.excption">

        <!--android:name=".ExcptionApplication"-->
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ExcptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data
                    android:host="@string/host"
                    android:path="@string/path_exception"
                    android:port="@string/port"
                    android:scheme="@string/scheme" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
