<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fltry.module.picture">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".PictureActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data
                    android:host="@string/host"
                    android:path="@string/path_picture"
                    android:port="@string/port"
                    android:scheme="@string/scheme" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fltry.androidlibs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photofilepaths" />
        </provider>

    </application>
</manifest>
