<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fltry.module.picture">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".PictureActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!--协议部分，随便设置-->
                <data
                    android:host="lights"
                    android:path="/changepwd"
                    android:port="80"
                    android:scheme="jtjsd" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
